LEAD_SALT=replace-this-in-production
NUXT_PUBLIC_SITE_URL=https://www.neonmarket.kz
AMOCRM_CLIENT_ID=4441c09f-31c3-47fa-ba66-1119c8e2814b
AMOCRM_CLIENT_SECRET=replace-with-amocrm-secret
AMOCRM_LONG_LIVED_TOKEN=replace-with-amocrm-token
AMOCRM_BASE_URL=https://togethertiktok.amocrm.ru
AMOCRM_REDIRECT_URI=https://www.neonmarket.kz/api/amocrm/oauth/redirect
AMOCRM_PIPELINE_ID=10734970
AMOCRM_STATUS_ID=84558862
